
:host {
    display: block;
    padding: 0 20px;
  }
  
  table {
    margin-top: 10px;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding: 8px;
  }
  
  td {
    border-top: 1px solid #ddd;
    padding: 8px;
  }

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
  